*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: lightblue;
    padding-bottom: 20px;
}
ul li{
    display: inline;
    padding: 20px;
    font-size: 20px;
}
h1{
    padding: 20px;
}
main{
    background-color: lightblue;
    padding-left: 20px;
}
footer{
    background-color:#fffd93cb ;
}
section{
    background-color: lightblue;
    padding: 10px;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
article{
    background-color: #fffd93cb;
    padding: 10px;
}
p{
    font-size: 20px;
}
h2{
    background-color: #fffd93cb;
}
#carrossel {
    border: 2px solid #757575;
    border-radius: 15px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    border: none;
    background-color: #fffd93cb;
    position:relative; 
    left:50%;
    transform: translate(-50%)
}
#imagens{
    width: 1100%;
    animation: animacao 20s infinite;
}
#imagens img{
    width: 636px;
    height: 300px;
}

@keyframes animacao{
    0%{margin-left:0;}
    3%{margin-left:0}
    20%{margin-left: -100%;}
    23%{margin-left: -100%;}
    40%{margin-left: -200%;}
    43%{margin-left: -200%;}
    60%{margin-left: -300%;}
    63%{margin-left: -300%;}
    80%{margin-left: -400%;}
    83%{margin-left: -400%;}
    98%{margin-left: -500%;}
    99%{margin-left: -500%;}
    100%{margin-left: 0;}

}
@media (max-width: 768px) {
    ul li {
        padding: 10px; 
        font-size: 1.2rem; 
    }

    h1 {
        font-size: 1.5rem; 
    }

    p {
        font-size: 1rem;
    }

    #carrossel {
        width: 350px;
        height: 200px;
    }
    #imagens img{
        width: 348px;
        height: 200px;
    }

    section {
        width: 95%; 
    }
}