*{
    padding: 0;
    margin: 0;
}
body{
    background-color: lightblue;
    margin-bottom: 40px;
}
header{
    background-color: lightblue;
    padding-bottom: 20px;
}
ul li{
    display: inline;
    padding: 20px;
    font-size: 20px;
}
h1{
    padding: 20px;
}
main{
    background-color: lightblue;
    font-size: 20px;
}
footer{
    border: 1px solid black;
    background-color:#fffd93cb ;
    position:fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
}
h2,h3,h4{
    padding: 5px;
}
section{
    background-color: #fffd93cb;
    padding-bottom: 20px;
}
a{
    background-color: white;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 2px;
}
@media (max-width: 768px) {
    ul li {
        padding: 10px; 
        font-size: 1.2rem; 
    }

    h1 {
        font-size: 1.5rem; 
    }
    h2,h3,h4{
        font-size: 1.2rem;
    }
    a{
        font-size: 1.2rem;
    }
}
